// base
@use 'partials/base';

.searchmusic {
  display: grid;
  grid-template:
    "search" 1fr
    "list  " auto
    / 1fr;
  gap: 80px;
}

.search {
  grid-area: search;

  &__inner {
    text-align: center;
  }

  &__input {
    width: 700px;
  }
}

.search-result__list {
  // border: 2px solid yellow;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 50px;
  grid-area: list;
}

.card {
  display: grid;
  grid-template:
    " img   ...  title " 1fr
    " img   ...  artist" 1fr
    / 300px 10px 1fr;
  width: 48%;
  position: relative;

  &__img {
    grid-area: img;
  }

  &__title {
    word-break: break-all;
    grid-area: title;
    font-size: 30px;
  }

  &__artist {
    word-break: break-all;
    grid-area: artist;
    font-size: 18px;
  }

  // お気に入り
  &__fav {
    grid-area: fav;
    cursor: pointer;
    position: absolute;
    bottom: 5px;
    left: 5px;
    width: 50px;
    height: 50px;
    background: #2C3134;
    border-radius: 5px;
    border: none;

    &:before {
      content: '';
      background: url(/img/star_off.svg) no-repeat 0 0;
      position: absolute;
      background-size: contain;
      display: inline-block;
      width: 50px;
      height: 50px;
      bottom: 0;
      left: 0;
    }

    &.on {
      &:before {
        content: '';
        background: url(/img/star_on.svg) no-repeat 0 0;
        position: absolute;
        background-size: contain;
        display: inline-block;
        width: 50px;
        height: 50px;
        bottom: 0;
        left: 0;
      }
    }
  }
}
