// base
@use 'partials/base';

// .userlist {}

.list {
  // border: 2px solid green;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__item {
    display: flex;
    margin-bottom: 50px;
  }
}

.prof {
  display: flex;
  gap: 20px;

  &_nameinfo {
    width: 300px;
    text-align: center;

    &__img {
      border-radius: 4%;
      border: 4px solid #2C3134;
    }

    &__name {
      font-size: 20px;
      font-weight: bold;
    }
  }

  &_desc {
    word-break: break-all;
    width: 600px;
  }
}
