// reset
@use 'modern-css-reset/src/reset';

// Variables
@use 'variables';

@use 'header';
@use 'footer';

a {
  text-decoration: none;
  color: #fff;
}

.body {
  background-color: #000;
  min-height: 100vh;
  display: grid;
  grid-template:
    "... ...... ..."
    "... header ..." 100px
    "... ...... ..." 60px
    "...  main  ..." 1fr
    "... ...... ..." 60px
    "... footer ..." 100px
    "... ...... ..."
    / auto 1fr auto;
}

// メインコンテンツ
.main {
  grid-area: main;
  color: #fff;
  padding: 0 50px;
}

// パーツ
%heading,
.heading {
  font-weight: normal;
  font-size: 30px;
  text-align: center;

  &--sub {
    @extend %heading;
  }
}

.success {
  &__txt {
    color: #1FDF64;
  }
}
